<div [className]="'container'">

    <h1>{{title()}}</h1>
    <p>Can you guess the word?</p>
    <p>Try to guess the word in 6 tries.</p>

    <div [className]="'game-info'">
        <span>
            <p>Wrong guesses: {{wrongGuesses().length - 1}} / 6</p>
        </span>
        <span>
            <p>hint: {{currentWord().hint}}</p>
        </span>
    </div>
    <div class="drawing">
        <div class="forca1"></div>
        <div class="forca2"></div>
        <div class="forca3"></div>
        <div class="corda"></div>
        <div class='head'></div>
        <div class="body"></div>
        <div class="left-arm"></div>
        <div class="right-arm"></div>
        <div class="left-leg"></div>
        <div class="right-leg"></div>

    </div>
    <div [className]="'word'">
        <span *ngFor="let i of lettersArray()"
            [className]="guessedLetters().includes(i) ? 'guessed' : 'not-guessed'">{{guessedLetters().includes(i) ? i :
            '_'}}</span>

    </div>

    <div [className]="!isGameOver() ? 'keyboard active' : 'keyboard inactive'"
        [className]="!isGameWon() ? 'keyboard active' : 'keyboard inactive'">

        @for(i of letters(); track i) {
        <button
            [className]="guessedLetters().includes(i) && wrongGuesses().includes(i) ? 'guessed wrong' : 'not-guessed'"
            [className]="guessedLetters().includes(i) && correctGuesses().includes(i) ? 'guessed right' : 'not-guessed'"
            (click)="includeLetters(i)">{{i}}</button>
        }
    </div>
    <button [className]="'reset'" (click)="resetGame()">Reset Game</button>
</div>
<router-outlet />