/* CSS Reset */
:root{
  --width-config: clamp(478px, 50vw, 500px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #262629;
  padding-block: 2rem;
  color: #f0f0f0;
  div{
    width: var(--width-config);
  }
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

p {
  font-size: 1.2rem;
  text-align: center;
}
